<h1>Listing grade_sheets</h1>

<table>
  <tr>
    <th>User</th>
    <th>Exercise</th>
    <th>Grade</th>
    <th>Tests</th>
    <th>Src code</th>
    <th>Time taken</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grade_sheets.each do |grade_sheet| %>
  <tr>
    <td><%= grade_sheet.user_id %></td>
    <td><%= grade_sheet.exercise_id %></td>
    <td><%= grade_sheet.grade %></td>
    <td><%= grade_sheet.tests %></td>
    <td><%= grade_sheet.src_code %></td>
    <td><%= grade_sheet.time_taken %></td>
    <td><%= link_to 'Show', grade_sheet %></td>
    <td><%= link_to 'Edit', edit_grade_sheet_path(grade_sheet) %></td>
    <td><%= link_to 'Destroy', grade_sheet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grade sheet', new_grade_sheet_path %>
