<% if flash[:notice] %>
  <p id="notice"> <%= flash[:notice] %> </p>
<% end %>

<ul id="lessons_list">
  <% @lessons.each do |lesson| %>
    <li class="lesson_list_item">
      <%= link_to(lesson.title, lesson, :class=>"heading_link") %>
      <p class="content_paragraph"><%= lesson.description%></p>

      <% if current_user and current_user.admin? %>
        <%= link_to 'Edit', edit_lesson_path(lesson), :class=>"small_content_link" %>
        <%= link_to 'Destroy', lesson, :confirm => 'Are you sure?', :method => :delete, :class=>"small_content_link" %>
        <%= link_to 'New Lesson', new_lesson_path, :class=>'small_content_link' %>
      <% end %>
    </li>
  <% end %>
</ul>
