<p id="notice"><%= notice %></p>

<ul id="lesson_exercises">
  <%= render :partial=>'exercises/exercise_li', 
      :collection=>@lesson.exercises %>
</ul>

<h2>
  <%= @lesson.title %>
</h2>

<p>
  <%= @lesson.text %>
</p>

<div id="disqus_thread"></div>
<script>
  var disqus_shortname = 'precode'; 
  var disqus_identifier = '<%= @lesson.to_param %>';
</script>
<script src="http://prepcode.disqus.com/embed.js"></script>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_lesson_path(@lesson), :class => 'button' %>
<% end %>