<p id="notice"><%= notice %></p>

<ul id="lesson_exercises">
  <%= render :partial=>'exercises/exercise_li', 
    :collection=>@lesson.exercises,
    :locals=>{:grades=>@grades}%>
</ul>

<h1>
  <%= @lesson.title %>
</h1>

<p>
  <%= @lesson.text %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
