<p id="notice"><%= notice %></p>

<ul id="lesson_exercises">
  <%= render :partial=>'exercises/exercise_li', 
      :collection=>@lesson.exercises %>
</ul>

<h2>
  <%= @lesson.title %>
</h2>

<p>
  <%= @lesson.text %>
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'precode'; 
    var disqus_identifier = '<%= @lesson.to_param %>';
    // var disqus_url = TODO;

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<br><%= link_to_if current_user.admin?, 'Edit', edit_lesson_path(@lesson), :class => 'button' %>