<p id="notice"><%= notice %></p>

<ul id="lesson_exercises">
  <%= render :partial=>'exercises/exercise_li', 
      :collection=>@lesson.exercises %>
</ul>

<h2>
  <%= @lesson.title %>
</h2>

<p>
  <%= @lesson.text %>
</p>

<%= link_to_if current_user.admin?, 'Edit', edit_lesson_path(@lesson), :class => 'button' %> 
