<h1>Listing courses</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.title %></td>
    <td><%= course.description %></td>
    <td><%= link_to 'Show', course %></td>
    <% if current_user.admin? %>
      <td><%= link_to_if current_user.admin?, 'Edit', edit_course_path(course) %></td>
      <td><%= link_to_if current_user.admin? ,'Destroy', course, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path if current_user.admin? %>
