<%= form_for(@exercise, :html=>{:multipart=>true}) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lesson_id %>
    <%= f.collection_select :lesson_id, Lesson.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows=>8, :cols=>80 %>
  </div>

  <%= render 'stats_sheet', :f => f%>

  <%= render 'unit_test', :f => f %>

  <div class="field">
    <%= f.label :minutes %><br />
    <%= f.text_field :minutes %>
  </div>
  
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :cols=>80%>
  </div>

  <div class="field">
    <%= f.label :tutorial %><br />
    <%= f.text_area :tutorial, :cols=>80%>
  </div>

  <%= render 'hint', :f => f %> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
