<%= form_for(@exercise, :html=>{:multipart=>true}) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lesson_id %>
    <%= f.collection_select :lesson_id, Lesson.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows=>8, :cols=>80 %>
  </div>

  <div class="field">
    <% if @exercise.unit_test.new_record? %>
      <%= f.fields_for :unit_test do |builder| %>
        <%= builder.label :uploaded_unit_test, "Upload Unit Test"%><br />
        <%= builder.file_field :uploaded_unit_test %>
      <% end %>
    <% else %>
      <%= f.fields_for :unit_test do |builder| %>
        <%= builder.label :src_code, "Unit Test" %><br/>
        <%= builder.text_area :src_code, :cols=>80%>
      <% end %>
  <% end%>
  </div>

  <div class="field">
    <% if @exercise.solution_template.new_record? %>
      <%= f.fields_for :solution_template do |builder| %>
        <%= builder.label :uploaded_solution_template, "Upload Solution Template"%><br />
        <%= builder.file_field :uploaded_solution_template %>
      <% end %>
    <% else %>
      <%= f.fields_for :solution_template do |builder| %>
        <%= builder.label :src_code, "Solution Template" %><br/>
        <%= builder.text_area :src_code, :cols=>80%>
      <% end %>
  <% end%>
  </div>

  <div class="field">
    <%= f.label :minutes %><br />
    <%= f.text_field :minutes %>
  </div>
  
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :cols=>80%>
  </div>

  <div class="field">
    <%= f.label :tutorial %><br />
    <%= f.text_area :tutorial, :cols=>80%>
  </div>

  <%= f.fields_for :hints do |builder| %>
    <%= builder.label :text, "Hint Text" %><br/>
    <%= builder.text_area :text, :cols=>80 %>
  <% end %> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
