<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @exercise.title %>
</p>

<p>
  <b>Description:</b>
  <%= @exercise.description %>
</p>

<p>
  <b>Text:</b>
  <%= @exercise.text %>
</p>

<p>
  <b>Tutorial:</b>
  <%= @exercise.tutorial %>
</p>

<p>
  <b>Minutes:</b>
  <%= @exercise.minutes %>
</p>

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_exercise_path(@exercise), :class => "button" %>
<% end %>
<%= link_to 'Back', exercises_path, :class => "button" %>
