<h2 class="full">Login <%= link_to "Register a New Account", new_user_path, :class => "button" %></h2>


<div id="login-form-wrapper">
  <% if params[:ref] == "register_success" %>
    <div class="notification success">
      <p>Your account was successfully created! To get started with PrepCode just login below.</p>
    </div>
  <% end %>

  <%= form_for @user_session do |f| %>
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "Login", :class => "button green" %><br>
    <!-- <%= link_to "Forgotten Password?", "javascript:alert('TODO');", :class => "forgotten" %> -->

    <% if @user_session.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @user_session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
