<p id="notice"><%= notice %></p>

<div id="stats-sheet">

  <p class="usage-statistic">
    <b>Syntax checks:</b>
    <%= @stats_sheet.syntax_checks_count%>
  </p>

  <p class="usage-statistic">
    <b>Solution checks:</b>
    <%= @stats_sheet.solution_checks_count %>
  </p>

  <p class="usage-statistic">
    <b>Total practice seconds:</b>
    <%= @stats_sheet.practice_seconds_count%>
  </p>

  <p class="xp-statistic"> 
    <b>Total xp:</b>
    <%= @stats_sheet.total_xp %>
  </p>

  <p class="xp-statistic">
    <b>Sorting xp:</b>
    <%= @stats_sheet.sorting_xp %>
  </p>

  <p class="xp-statistic">
    <b>Searching xp:</b>
    <%= @stats_sheet.searching_xp %>
  </p>

  <p class="xp-statistic">
    <b>Numeric xp:</b>
    <%= @stats_sheet.numeric_xp %>
  </p>

  <p class="xp-statistic">
    <b>Hash xp:</b>
    <%= @stats_sheet.hash_xp %>
  </p>

  <p class="xp-statistic">
    <b>Linked list xp:</b>
    <%= @stats_sheet.linked_list_xp %>
  </p>

  <p class="xp-statistic">
    <b>Array xp:</b>
    <%= @stats_sheet.array_xp %>
  </p>

  <p class="xp-statistic">
    <b>Level:</b>
    <%= @stats_sheet.level %>
  </p>

  <p class="xp-statistic">
    <b>Xp to next level:</b>
    <%= @stats_sheet.xp_to_next_level %>
  </p>

</div>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_stats_sheet_path(@stats_sheet) %> |
  <%= link_to 'Back', stats_sheets_path %>
<% end %>
